
@mixin img-avatar {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
}
$color: #fdfdfd;
$button-size: 80px;
$button-color: #088dcd;
$button-font-size: 15px;

.comment {
    display: flex;
    margin-bottom: 10px;
    &-author {
        figure {
            height: 50px;
            width: 50px;

            img {
                @include img-avatar;
            }
        }
    }
    &-body {
        margin-left: 30px;
        border: 1px solid #ede9e9;
        padding: 10px;

        .comment-head {
            color: #2a2a2a;
            font-size: 14px;
            font-weight: bold;
            display: flex;
            .delete-post {
                margin-left: 20px;

                button {
                    text-decoration: none;
                    color: #ff6868;
                    font-size: $button-font-size;
                    border: 0;
                    border-radius: 5px;
                    // color: $color;
                    background-color: transparent;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        .comment-text {
            margin-top: 5px;
            font-size: 13px;
            line-height: 20px;
            color: #8c8b8b;
        }
    }
}