$container-wight: 700px;
$bg-color: rgb(21, 49, 204);

.signup {
    display: flex;
}

.bg-container {
    background-color: #1fb6ff;
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;

    .bg-center {
        width: 70%;
        margin: 0 auto;

        .bg-body {
            margin-top: 7px;
        }

        .bg-title {
            .bg-key {
                color: #ff00b3;
            }
        }
    }
}

.signup-form {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;

    .signup-container {
        width: 450px;
        margin: 30px auto;
        height: 350px;
        background-color: #fff;
        box-shadow: 0 0 35px #e2e2e2;
        padding: 30px 35px;

        .signup-title {
            padding-bottom: 20px;
            text-shadow: 1px 1px 2px rgba(1, 38, 245, 0.233);
        }

        .signup-form-container {
            width: 100%;
            margin: 0 auto;

            .form-item {
                position: relative;
                padding: 15px 0 0;
                margin-top: 10px;
                width: 100%;

                .login-label {
                    position: absolute;
                    top: 0;
                    display: block;
                    transition: 0.2s;
                    font-size: 1rem;
                    color: #9b9b9b;
                }
            }
        }

        input {
            width: 100%;
            border: 0;
            border-bottom: 2px solid #9b9b9b;
            outline: 0;
            font-size: 1rem;
            padding: 7px 0;
            background: transparent;
            transition: border-color 0.2s;
        }
        button {
            width: 100%;
            border: 0;
            padding: 10px 0;
            color: white;
            font-size: 16px;
            box-shadow: 0 0 15px 4px rgba(1, 38, 245, 0.233);
            margin-top: 20px;
            background-color: #4f93ce;
            &:hover {
                background-color: darken($color: #4f93ce, $amount: 10%);
            }
        }
    }
}
