$width_container: 700px;
$title-size: 30px;
$button-font-size: 15px;
$bg-color: #fff;
$color: #797979;

@mixin container {
    width: 70%;
    margin: 0 auto;
}

.header {
    background-color: $bg-color;
    height: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    &-container {
        @include container;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header-title {
            color: $color;
            font-size: $title-size;
        }

        .header-buttons-item {
            font-size: $button-font-size;
            padding: (($title-size - $button-font-size)/2) 15px;
            border: 0;
            border-radius: 5px;
            color: $color;
            background-color: transparent;
            &:first-of-type {
                margin-right: 7px;
            }
            &:hover {
                background-color: lighten($color: $bg-color, $amount: 35%);
            }
            .button-link {
                text-decoration: none;
                color: #797979;

                &:hover {
                    color: black;
                }
            }
        }
    }
}
