@mixin img-avatar {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
}
$color: #fdfdfd;
$button-size: 80px;
$button-color: #088dcd;
$button-font-size: 15px;
.post {
    padding: 25px;
    .post-author {
        display: flex;

        .author-info {
            margin-left: 15px;

            a {
                color: #088dcd;
                outline: none;
                text-decoration: none;
            }

            .post-date {
                font-size: 0.75rem;
                color: #999999;
            }
        }
        figure {
            height: 50px;
            width: 50px;

            img {
                @include img-avatar;
            }
        }
    }

    .post-body {
        margin-top: 15px;

        img {
            width: 100%;
            height: auto;
        }

        .post-addlike {
            margin: 10px;
            display: flex;
            color: #212529;
            align-items: center;
            .like-icon {
                color: red;
            }
            p {
                margin-left: 5px;
            }
            .delete-post {
                margin-left: 20px;

                button {
                    text-decoration: none;
                    color: #ff6868;
                    font-size: $button-font-size;
                    border: 0;
                    border-radius: 5px;
                    background-color: transparent;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        .post-description {
            color: #8c8b8b;
            font-size: 16px;
            line-height: 26px;
        }

        .comments {
            margin-top: 20px;
            margin-left: 20px;

            .add-comment {
                margin-top: 20px;
                display: flex;
                width: 100%;

                .comment-author {
                    margin-right: 30px;
                }

                .comment-form {
                    width: 100%;

                    textarea {
                        width: 80%;

                        outline: none;
                        border: 1px solid #f0f0f0;
                        height: 50px;
                        resize: none;
                        padding: 10px;
                        background-color: darken($color: $color, $amount: 10%);
                    }
                }
            }
        }
    }
}
