$color: #fdfdfd;
$button-size: 80px;
$button-color: #088dcd;
$button-font-size: 15px;

@mixin img-avatar {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.main-container {
    width: 65%;

    .new-post {
        background-color: $color;
        padding: 30px 0;

        figure {
            height: 50px;
            width: 50px;

            img {
                @include img-avatar;
            }
        }
        .user-title {
            padding-bottom: 10px;
        }
        .text-area {
            width: 80%;
            margin: 0 auto;

            .user-info {
                display: flex;
                margin-bottom: 10px;
                align-items: center;

                .user-title {
                    margin-left: 10px;
                    a {
                        color: #088dcd;
                        outline: none;
                        text-decoration: none;
                    }
                }
            }

            textarea {
                outline: none;
                border: 1px solid #f0f0f0;
                width: 100%;
                height: 120px;
                resize: none;
                padding: 10px;
            }

            .form-submit {
                width: 100%;
                text-align: end;

                button {
                    margin-top: 7px;
                    width: 100px;
                    height: 40px;
                    background-color: $button-color;
                    color: $color;
                    border: 1px solid $color;
                    border-radius: 5px;

                    &:hover {
                        background-color: darken($color: $button-color, $amount: 10%);
                    }
                }
            }
        }
    }

    .posts-list {
        margin-top: 30px;
        background-color: $color;
    }
}
